doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Immigrate
		link(rel="stylesheet", href="/css/commonstyle.css")
		link(rel="stylesheet", href="/css/immigrate.css")
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap", rel="stylesheet")
	body
		header.header-area
			img(src="/images/Ask Richie Immigration logo.png", alt="Ask Richie Immigration")
			nav
				a.header-items(href="/html/index.html") Home
				a.header-items(href="/html/about-us.html") About Us
				a.header-items(href="/Immigrate") Immigrate
				a.header-items(href="/html/forum.html") Forum
				a.header-items(href="#") Register/Login
		section
			h1
				strong Welcome here ...!{ContactMessages[0].Name}
			h1 Express Entry
			p Designed to select the most qualified candidates catering to Canada’s labor market, the Express Entry system provides the most promising, popular, and one of the fastest ways to Canadian Immigration.
			h3 What is Express Entry?
			p Canadian Permanent Residency is a dream for many, and Express Entry is one of the most promising and sought-after systems to make this dream a reality.
			br
			br
			h1 Family
			p Canada and ICCRC allow you to sponsor your spouse, common-law partner, or dependent child for Canadian Permanent Residence with its family reunification objective.
			h3 SPOUSAL SPONSORSHIP
			p Spousal Sponsorship Program is one of the programs under the Family Class Immigration category. It has two categories depending on your location – Inland and Outland Sponsorship.
		footer.footer-content
			.footer-area
				img.ask-richie-logo(src="/images/transparent Ask Richie Immigration logo.png", alt="ask richie immigration logo")
				nav
					ul.footer-items
						li
							a.footer-items-list(href="/html/about-us.html") About Us
						li
							a.footer-items-list(href="/html/contact-us.html") Contact Us
						li
							a.footer-items-list(href="/html/forum.html") Forum
				p.footer-items # 211 Fallswater Road, Calgary,Alberta
			hr
			p.footer-bottom Copyright&copy;2022 All Rights Reserved.
